*{
    box-sizing: border-box;
}
.descr{
    height: 200px;
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-y: scroll;
    
}
.descr::-webkit-scrollbar {display: none;}

.ArtistList{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 25px auto;
}

.single .makeStyles-root-1 {
    min-height: unset!important;
}
.single .MuiCardContent-root {
    display: none;
}

.single .makeStyles-root-8 {
    min-height: unset!important;
}

.FavIcon{
    margin-bottom: 0px;
}
.single{
    margin: 20px 40px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    height: 100%;
    z-index: 10;
    transition: all .25s ease-in-out;

}

.single:hover {
    transform: scale(1.1);
    transform: scale(1.1);
  }

  .isFavorite{
      color:red
  }

  .creators {
      text-align: center;
  }

  .makeStyles-media-9 {
    height: 350px !important;
    background-position: top !important;
  }
 