


.filters-fileds {
    display: flex;
    align-items: center;
    justify-content: center;
  }

.inputs-fileds {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .search-button {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .heading-one{
    display: flex;
    align-items: center;
    justify-content: center;
  }
 #button{
      margin: 10px;
  }
=======
.form_wrap {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-btn_wrap {
    width: 400px;
    display: flex;
    justify-content: center;
}

.form-button_wrap {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.form-button_wrap a {
    display: flex;
    margin-left: 1rem;
}

.search-btn_wrap {
    display: flex;
    justify-content: center;
}

