.main_wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem;
    background-image: url(./components/assets/TSC10180_Laith_McGregor_installation_view.jpg) 0.3;
    background-size: 100%;
    background-position:center ;
   background-repeat: no-repeat;
   background-size:cover;
   width: 100%;

}
